<!DOCTYPE html>
<html>

  {% include head.html %}
<!--  <script language="JavaScript">-->
<!--      var password="";-->
<!--      password=prompt('请输入密码 (本网站需输入密码才可进入):','');-->
<!--      if (password != 'bbzwyyda') {-->
<!--          alert("密码不正确,无法进入本站!!");-->
<!--          window.opener=null;-->
<!--          window.close();-->
<!--      }-->
<!--  </script>-->
  <body>

    <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
  </body>

</html>
